
<!-- For the show If current_user = @Business.user then show edit form(partial) else show business_card partial-->
<div id="wrapper" name="page-top">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Edit my Business Details</h3>
        <div class="row mb-3">
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-body text-center shadow">

                <!--<img class="rounded-circle mb-3 mt-4" src="https://scontent.fjog1-1.fna.fbcdn.net/v/t1.0-9/53121420_157141011864141_7733435971928064000_n.png?_nc_cat=107&amp;_nc_oc=AQkDPscvlPqt8x91rV4VlttdfDPqL2jcrJwMAxsk3zuZGItxdDfzX_VdpIJTMvWVCxY&amp;_nc_ht=scontent.fjog1-1.fna&amp;oh=c78dc92a9e7a3bc742333f744f690884&amp;oe=5DDF1C63"-->
                <!--  width="160" height="160" alt="Business.logo">-->
              <% if !@business.logo.blank? %>
                <%= cl_image_tag( @business.logo, class: 'rounded-circle mb-3 mt-4') %>
              <% else %>
                <%= cl_image_tag("npuoiegpmbgsbwcpy0hh", class: 'rounded-circle mb-3 mt-4') %>
              <% end %>

                <div class="mb-3">
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-8">
            <div class="row mb-3 d-none">
              <div class="col">
                <div class="card text-white bg-primary shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card text-white bg-success shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Business Information</p>
                  </div>
                  <div class="card-body">
                    <%= simple_form_for @business do |f| %>
                      <%= f.input :name %>
                      <%= f.input :business_category, collection: BusinessCategory.all, selected: @business.business_category.id %>
                      <%= f.input :location %>
                      <%= f.input :description %>
                      <%= f.input :logo, label: "Change Logo" %>
                      <%= f.input :logo_cache, as: :hidden %>
                      <%= f.button :submit, class: 'btn btn-primary edit-button', value: 'Update Business' %>
                    <% end %>

                  </div>
                </div>
                <div class="card shadow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>