<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Add your business to Czekpass!</h1>

      <%= simple_form_for [@business] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :logo %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<!-- The code below was a placeholder, I'm implementing a simple form above, feel free to modify it. -->


<!-- <div id="wrapper" name="page-top">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Create a Business</h3>
        <div class="row mb-3">
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-body text-center shadow">
                <%#= cl_image_tag("npuoiegpmbgsbwcpy0hh", class: 'rounded-circle mb-3 mt-4 profilephoto') %>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row mb-3 d-none">
              <div class="col">
                <div class="card text-white bg-primary shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card text-white bg-success shadow">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="m-0">Peformance</p>
                        <p class="m-0"><strong>65.2%</strong></p>
                      </div>
                      <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                    </div>
                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Business Information</p>
                  </div>

                  <div class="card-body">

                     <%= simple_form_for @business do |f| %>
                      <%= f.input :name %>
                      <%= f.input :business_category, collection: BusinessCategory.all %>
                      <%= f.input :location %>
                      <%= f.input :description %>
                      <%= f.input :logo, label: "Upload your logo" %>
                      <%= f.input :logo_cache, as: :hidden %>
                      <%= f.button :submit, class: 'btn btn-primary' %>
                    <% end %>

                   </div>

                </div>
                <div class="card shadow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>

 -->

