 <h1>Create a new business connection</h1>
 <p>Create a perk available for all patrons of a business, or select a specific product for your perk</p>

 <%= simple_form_for [@business, @product, @perk] do |f| %>
 <p>Select the business</p>
 <%= f.input :business, collection: Business.all %>
 <p>Select the product if desired</p>
 <%= f.label :purchased_product_id, 'Purchased Product' %>
 <%= f.input :purchased_product_id, as: :select, collection: Product.all, label: false %>
 <%= f.input :description %>
 <%= f.input :kind, as: :select, collection: ['amount', 'percentage', 'free'] %>
 <%= f.input :amount %>
 <%= f.button :submit, class: 'btn btn-primary' %>
 <% end %>
</div>
</div>
</div>

<script>
  const businessSelect = document.querySelector('#perk_business')
  businessSelect.addEventListener('change', () => {
    console.log('CHANGE PRODUCT OPTIONS BASED ON BUSINESS SELECTED')
  })
</script>
