<p>
  <%= link_to 'Back', :back %>
</p>

<div class="d-flex business-info">
  <div class="business-logo logo">
    <%= @business.logo %>
  </div>
  <div class="business-description">
    <%= @business.name %>
    <%= @business.description %>
    <%= @business.location %>
    <%= @business.logo %>
  </div>
</div>






<%= link_to "edit", edit_business_path, class: 'btn btn-secondary' %>

  <ul class="list-inline">
    <li class="list-inline-item">Perks</li>
    <li class="list-inline-item">Products</li>
  </ul>

  <% @user.perks(@business).each do |perk| %>
      <div>
        <%= render partial: 'shared/perk_card', locals: {perk: perk} %>
      </div>
  <% end %>
</div>

