<div class="container">
<%= @business.name %>
<ul>
  <li><%= @business.name %></li>
  <li><%= @business.description %></li>
  <li><%= @business.location %></li>
  <li><%= @business.logo %></li>
  </li>
</ul>
<%= link_to "edit", edit_business_path %>
