<%= @business.name %>

<%= cl_image_tag @business.photo, height: 300, width: 400, crop: :fill %>

<ul>
  <li>Name: <%= @business.name %></li>
  <li>Description: <%= @business.description %></li>
  <li>Location: <%= @business.location %></li>
  <li><%= @business.logo %></li>
  </li>
</ul>

  <ul class="list-inline">
    <li class="list-inline-item">perks</li>
    <li class="list-inline-item">Products</li>
  </ul>

  <% @user.perks(@business).each do |perk| %>
      <div>
        <%= render partial: 'shared/perk_card', locals: {perk: perk} %>
      </div>
  <% end %>
<%= link_to "view products", business_products_path(@business.id) %>
<%= link_to "edit", edit_business_path %>
</div>

