<div class="container">
  <h1>Edit your perk</h1>
  <%= simple_form_for [@business, @product, @perk] do |f| %>
  <%= f.input :description %>
  <%= f.input :kind %>
  <%= f.input :amount %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Delete this perk", business_product_path, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
