<div class="card bg-light">

<div class="p-3">

<%= tag.a aria: {expanded: "false", controls: "collapseExample#{index}"}, href: "#collapseExample#{index}", role: "button", data: {toggle: "collapse"} do %>
  <h6 class="m-0 font-weight-bold text-primary">
    <% if perk.kind == "percentage" %>
      <%= perk.amount %> % off
    <% elsif perk.kind == "amount" %>
      <%= perk.amount %> $ off
    <% else %>
      Free
    <% end %>
    <%= perk.product.name %></h6>
<% end %>


  <%= tag.div class: 'collapse p-4', id: "collapseExample#{index}" do%>
    <%= render partial:  'perks/perk_show', locals: {perk: perk}%>
  <% end %>

  <div>
    <span class="discounted-initial-price">
      <%= humanized_money_with_symbol(perk.product.price) %>
    </span>
  </div>
</div>
</div>
