<div class="custom-card">
  <%= link_to business_product_perk_path(perk.product.business, perk.product, perk) do%>
  <% if perk.kind == "percentage" %>
    <%= "#{perk.amount} % off" %>
  <% elsif perk.kind == "amount" %>
  <!-- This needs to be refactored to adjust to any currency-->
    <%= "#{perk.amount} $ off" %>
  <% else %>
    Free
  <% end %>
   <%= perk.product.name  %>
  <% end %>
  <div><%= perk.description%></div>
  <div>
    <span class="discounted-initial-price">
      <%= humanized_money_with_symbol(perk.product.price) %>
    </span>
  </div>
</div>

