<!-- <div class="card-product custom-card"> -->

<div class="card align-content-between">

  <div class="photo">
    <p><%= product.photo %></p>
  </div>
  <div class="card-product-infos p-3">

<%= tag.a aria: {expanded: "false", controls: "collapseExample#{index}"}, href: "#collapseExample#{index}", role: "button", data: {toggle: "collapse"} do %>
    <%= product.name %>
<% end %>


    <%= tag.div class: 'collapse p-4', id: "collapseExample#{index}" do%>
      <%= render partial: 'products/product_show', locals: {product: product}%>
    <% end %>

    <p><%= humanized_money_with_symbol(product.price) %></p>
  </div>
</div>
