<div class="card">

  <div class="">
    <div class="p-3 purchase-card-content">
      <div>
        <strong>Purchase date:</strong> <%= purchase.created_at.strftime("%B %d, %Y") %>
        <div>
          <%= link_to purchase.product.name, business_product_path(purchase.product.business, purchase.product) %>
        </div>
        </div><%= purchase.product.business.name %><div>
      </div>

      <div><%= purchase.product.description %></div>

      <%# purchase.product.perks.each do |perk| %>
        <!-- <p class="border p-2">Unlocked Perk:  <%#= link_to perk.description, business_product_perk_path(purchase.product.business, purchase.product, perk) %></p> -->
      <%# end %>

      Price: <%= humanized_money_with_symbol(purchase.product.price) %>
    </div>

    <div class="card-footer align-self-baseline">
      Perk Expiration date:
      <% if purchase.expiration_date %>
        <strong><%= purchase.expiration_date.strftime("%B %d, %Y") %></strong>
      <% else %>
        <strong><%= purchase.created_at.strftime("%B %d, %Y") %></strong>
      <% end %>
    </div>
  </div>
</div>
