<div class="card">

  <div class="">
    <div class="p-3 purchase-card-content bg-light">
      <div>
        <strong>Purchase date:</strong> <%= purchase.creation.strftime("%B %d, %Y") %>
        <div>
          <h6 class="m-0 font-weight-bold text-primary">
          <%= link_to purchase.product.business.name, business_path(purchase.product.business) %>
          </h6>
        </div>
          <%= purchase.product.name %>
      </div>

      <div><%= purchase.product.description %></div>

      <%# purchase.product.perks.each do |perk| %>
        <!-- <p class="border p-2">Unlocked Perk:  <%#= link_to perk.description, business_product_perk_path(purchase.product.business, purchase.product, perk) %></p> -->
      <%# end %>

      Price: <%= humanized_money_with_symbol(purchase.product.price) %>
    </div>

    <div class="card-footer align-self-baseline bg-white border-left-success">
      Perk Expiration date:
      <% if purchase.expiration_date %>
        <strong><%= purchase.expiration_date.strftime("%B %d, %Y") %></strong>
      <% else %>
        <strong><%= purchase.creation.strftime("%B %d, %Y") %></strong>
      <% end %>
    </div>
  </div>
</div>
