<div class="card-purchase">
<!--   <div class="photo">
    <p><%#= purchase.product.photo %></p>
  </div>
 -->
  <div class="card-product-infos">
    <p>Purchased on: <strong><%= purchase.created_at.strftime("%B %d, %Y") %></strong></p>
    <h2><%= link_to purchase.product.name, business_product_path(purchase.product.business, purchase.product) %></h2>
    <h3><%= purchase.product.business.name %></h3>
    <% purchase.product.perks.each do |perk| %>
      <%= link_to perk.description, business_product_perk_path(purchase.product.business, purchase.product, perk) %>
    <% end %>
    <p class="mb-0">
      <strong><%= purchase.product.description %></strong>
    </p>

    Price: <p class="mb-0"><%= purchase.product.price_cents %></p>
    <div class="border my-2"></div>
    Expires on:
    <%= purchase.expiration_date %>
  </div>
</div>
