<div class="user-profile-header">
  <h1>Hello <%= @user.first_name %>!</h1>
  <%= link_to 'Edit your profile', edit_user_path(current_user) %>
  <br>
  <%= link_to 'Add your business', new_business_path(current_user) %>
  <br>
  <%= link_to 'View your business dashboard', business_dashboard_path(current_user) %>
</div>

<nav>
  <div class="nav nav-tabs nav-pills nav-fill sticky" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Savings</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Perks</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Purchases</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  <%= render partial: 'shared/saving_card', locals: { saving_dollars_amount: @saving_dollars_amount, discounted_price_total: @discounted_price_total, total_saving: @total_saving } %>
  <!--     <p>In the past week you have saved: <%#= @weekly_savings %>$!</p>
  <p>In the past month you have saved: <%#= @monthly_savings %>$!</p>-->
  </div>

  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <% @user.perks.each do |perk| %>
      <div class="card">
        <% if perk.kind == "percentage" %>
        <%= "#{perk.amount} % off" %>
        <% elsif perk.kind == "amount" %>
        <!-- This needs to be refactored to adjust to any currency-->
        <%= "#{perk.amount} $ off" %>
        <% else %>
        Free
        <% end %>
        <%= link_to perk.purchased_product.name, business_product_perk_path(perk.purchased_product.business, perk.purchased_product, perk) %>

        <%= perk.description%>
        <%= humanized_money_with_symbol(perk.purchased_product.price) %>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <% @user.purchases.each do |purchase| %>
      <div>
        <%= render partial: 'shared/purchase_card', locals: {purchase: purchase} %>
      </div>
    <% end %>
  </div>
</div>
