<div class="page-header bg-light">
  <h3>Perks near you</h3>
</div>

<!-- This should be a form -->
<div class="form-row no-gutters">
  <div class="form-group flex-grow-1">

  <!-- This is the first half -->

    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-secondary" name="coords" type="button" id="loc"><i class="fas fa-crosshairs"></i></button>
      </div>

      <%= form_tag dashboard_page_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search Name or Location"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

     <!--  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
      <button class="btn btn-primary input-group-append">Search</button> -->
    </div>
  </div>

  <!-- This is the second half -->
  <div class="form-group">
      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fas fa-filter"></i>
  </button>

  </div>
</div>

<!-- This is the filters -->

<!-- *******NEED TO ADD EVENT LISTENER TO BRING UP FILTER FORM?******** -->


<div id="formFilters">Search within 10km</div>
  <div class="collapse" id="collapseExample">
        <h3>Categories:</h3>
    <div class="container">

      <!-- Used this to make cards for all business categories(not location specific) -->
      <%# @businesses = Business.all %>

      <% @all_businesses = Business.near('Canggu', 10) %>
      <!-- Iterating through all businesses near Canggu -->
        <% @all_businesses.each do |business| %>
      <div class="row">
          <div class="filter-card d-inline bg-primary text-white m-2 p-3">
      <!-- putting the categories of businesses near me -->
              <%= business.business_category.name %>
          </div>
      </div>
        <% end %>
    </div>
  </div>



<!-- ITeration for all perks available to current_user, if we want them for filtering -->

           <!-- <h3>All Perks</h3> -->
            <%# current_user.perks.each do |perk| %>
                <!-- <strong><%#= perk.business.name%></strong>     -->
                <%#= perk.amount %>
                <%#= perk.kind %>
                  <!-- <br> -->
                <%#= perk.description %>
            <%# end %>



<!-- End of search form -->

<nav>
  <div class="nav nav-tabs  nav-fill" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Map</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">List</a>
  </div>
</nav>




  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" style="width: 480px; height: 100vw;" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div
        id="map"
        style="width: 100%;
        height: 40%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <%# @businesses.each do |business| %>
        <%# current_user.perks.each do |perk| %>
          <%# if perk.patronized_business_id == business.id %>
          <% @businesses.each do |business| %>
            <div>
                <%= render partial: 'shared/business_card', locals: {business: business} %>
            </div>
          <% end %>
          <%# end %>
        <%# end %>
      <%# end %>
    </div>
  </div>

<script>
  // function getCoords(position) {
  //   console.log(position);
  //   $.post('/discover', {
  //     lat: position.coords.lat,
  //     lng: position.coords.lng
  //   });
  // }

  // loc.addEventListener('click', (e) => {
  //   console.log(e);
  //   window.navigator.geolocation.getCurrentPosition(
  //     position => console.log(position),
  //     err => console.error(err)
  //   );
  // })

  filter.addEventListener('click', (e) => {
    formFilters.classList.toggle('colourred');
  })
</script>
