<div class="container">
  <h1>Edit your product</h1>
  <%= simple_form_for(@product) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :logo %>
  <%= f.input :location %>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
