<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
            
              <div class="card-body">
                <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new product for your business</h1>

      <%= simple_form_for [@business, @product] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :category %>
        <%= f.input :photo %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>