<div class="container">
<%= @product.name %>
<ul>
  <li><%= @product.name %></li>
  <li><%= @product.description %></li>
  <li><%= humanized_money_with_symbol(@product.price) %></li>
  <li><%= @product.category %></li>
  <li><%= @product.photo %></li>
  </li>
</ul>
<%= link_to "edit", edit_business_product_path %>
</div>
