<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Czekpass</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body id="page-top">
        <div id="wrapper">
          <% if user_signed_in? %>
          <%= render 'shared/nav' %>
          <% end %>
          <%= render 'shared/flashes' %>
          <%= yield %>
          <%= javascript_include_tag 'application' %>
          <%= javascript_pack_tag 'application' %>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
        <%= render 'shared/footer' %>

  </body>
</html>
